<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>story detail</title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./common.css">
        <style>
		#wrapper{
			width: 50%;
		}
        h2{
            font-weight: normal;
            font-size: 30px;
            margin-bottom: 30px;
        }
        p{
            line-height: 45px;
            margin-bottom: 200px;
        }
        #uid{
            display: block;
            text-align: right;
        }
        /* input[type="button"]{
            position: fixed;
            padding: 15px 20px;
            text-align: center;
            left: 60%;
            bottom: 50px;
            font-size: 15px;
            background-color: black;
            border: 1px solid black;
            border-radius: 40px;
            color: #faf5e6;
            box-shadow: 0 12px 20px rgb(27, 27, 27);
            z-index: 1;
            outline: 0;
        } */
		#btn_wrapper{
		}
		.btn{
			float: right;
			display: inline-block;
			border: 1px solid #faf5e6;
			opacity: 0.7;
			border-radius: 5px;
			background-color: transparent;
			color: #faf5e6;
			width: 50px;
			height: 20px;
		}
		.btn:hover{
			opacity: 1;
		}
		#table_wrapper{
			border-radius: 5px;
			text-align: center;
			line-height: 20px;
		}
		textArea{
			width: 95%;
			height: 95%;
			background-color: transparent;
			color: #faf5e6;
		}
		tr{
			height: 60px;
			padding: 10px;
		}
		table tr:nth-child(odd) {
			background-color: rgb(53, 54, 58);
        }
		.regist_btn{
			background-color: transparent;
			width: 100%;
			height: 100%;
			border: none;
			color: #faf5e6;
			font-size: 20px;
		}
		.regist_btn:hover{
			color: #fbbd0d;
		}
		.show_comment_wrapper{
			padding-left: 40px;
			text-align: left;
			position: relative;
		}
		.update_comment_button{
			font-size: 15px;
			position: absolute;
			right: 50px;
			top: 5px;
		}
		.update_comment_button:hover{
			color: #5882FA;
		}
		.delete_comment_button{
			font-size: 15px;
			position: absolute;
			right: 10px;
			top: 5px;
		}
		.delete_comment_button:hover{
			color: #FE642E;
		}
        @media screen and (max-width: 1200px){
            #wrapper{
                width: 80%;
            }
            button{
                left: 70%;
            }
        }
         @media screen and (max-width: 500px){
            body{
                font-size: 15px;
            }
            #siru{
                display: none;
            }
            #wrapper{
                width: 90%;
            }
            h2{
                padding-top: 100px;
            }
            button{
                left: 80%;
            }
            #uid{
                width: 80%;
            }
        }
		
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script>
		$(function(){
			var n = $('.show_comment_wrapper').length;
			console.log("length : ", n);

			$('.show_comment_wrapper').each(function(index, item){
				$(item).css('display', 'block');
			});
			$('.update_comment_wrapper').each(function(index, item){
				$(item).css('display', 'none');
			});

			$('.update_comment_button').each(function(index, item){
				$(item).click(function(){
					console.log(index);
					$('.show_comment_wrapper')[index].style.display = "none";
					$('.update_comment_wrapper')[index].style.display = "block";
				});
			});
		});

		//해당 글을 정말 삭제할지 물어봄
		function deleteStory(param){
            if(confirm("정말 삭제하시겠어요?")){
                location.href = '/delete_story?story_id='+param;
            }
		}
		
		//해당 댓글을 정말 삭제할지 물어봄
		function deleteComment(param1, param2){
            if(confirm("정말 삭제하시겠어요?")){
				location.href = "/delete/comment?comment_id="+param1+"&story_id="+param2;
            }
        }

		function update(index){
			var value1 = $('#comment_id_'+index).val();
			var value2 = $('#update_comment_area_'+index).val();
			var value3 = $("[name='story_id']").val();
			console.log("value1: ",value1);
			console.log("value2: ",value2);
			console.log("value3: ",value3);
			location.href = "/update/comment?comment_id="+value1+"&content="+value2+"&story_id="+value3+"%>";
		}
		
	</script>
</head>
<body>
    <a href="/write" id="writeBtn">글쓰기</a>
    <div id="nav">
        <a href="/index"><img id="logo" src="./image/logo_yellow.png"></a>
        <span id="nav_right">
            <a href="/board_poem" class="dynamic">작품</a>
            <a href="/board_story" class="dynamic">사는 이야기</a>
			<%if(sessionId == ""){
				loginStateMsg = "로그인";
			}else{
				loginStateMsg = "로그아웃";
			}%>
			<%if(sessionId == ""){%>
				<a href="/index#sign"><%=loginStateMsg%></a>
			<%}else{%>
				<a href="/index_loggout"><%=loginStateMsg%></a>
			<%}%>
        </span>
    </div>
    <h1 id="siru">시루</h1>
	<div style="white-space: pre-line" id = "wrapper">
		<h2><%=story.title%></h2>
		<span id="uid"><%=story.writer%></span>
		<span id="uid"><img style="width:20px;margin-right:5px;" src="/image/hit_white.png"><%=story.hit%></span>
		<%=story.content%>
		<!-- 글 작성자만 해당 수정, 삭제 하게끔 함 -->
		<button class="btn" <%if(sessionId != story.writer){%>style="display:none"<%}%> onclick="deleteStory('<%=story.story_id%>')">삭제</button>
		<button class="btn" <%if(sessionId != story.writer){%>style="display:none"<%}%> onclick="location.href = '/updateForm_story?story_id=<%=story.story_id%>'">수정</button>
		<div id="comment" style = "margin: auto;">
			<form action="/regist/comment" method="get">
				<input type="hidden" name ="story_id" value="<%=story.story_id%>"></input>
				<div id="table_wrapper">
					<table width = "100%">
						<%if(sessionId != ""){%>
							<tr>
								<td><%=sessionId%></td>
								<td><textArea type="text" name="content"></textArea></td>
								<td><input class="regist_btn" type="submit" value="등록"></input></td>
								</tr>
								<%}%>

								<%for(var i = 0; i < commentArray.length; i++){%>
									<%var comment = commentArray[i]%>
								<tr>
									<td><%=comment.writer%></td>
									<input type="hidden" id="comment_id_<%=i%>" value="<%=comment.comment_id%>"></input>
									<td>
										<div class="update_comment_wrapper">
											<textArea id="update_comment_area_<%=i%>"><%=comment.content%></textArea>
											<input type = "button" class = "update_confirm_btn" value ="확인" onclick = "update('<%=i%>')"/>
										</div>
										<div class="show_comment_wrapper">
											<%=comment.content%>
											<!-- 댓글 작성자만 해당 댓글 삭제, 수정 하게끔함 -->
											<div <%if(sessionId != comment.writer){%>style="display:none"<%}%> class="update_comment_button">수정</div>
											<a <%if(sessionId != comment.writer){%>style="display:none"<%}%> class="delete_comment_button" onclick="deleteComment('<%=comment.comment_id%>', '<%=story.story_id%>')">삭제</a> 
										</div>
									</td>
									<td><%=comment.regdate%></td>
								</tr>
							<%}%>
						</table>
					</div>
				</form>
			</div>
         </div>

</body>
</html>
