<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./common.css">
        <style>
        h2{
            font-weight: normal;
            font-size: 30px;
            margin-bottom: 30px;
        }
        p{
            line-height: 45px;
            margin-bottom: 200px;
        }
        #uid{
            display: block;
            width: 60%;
            text-align: right;
        }
        input[type="button"]{
            position: fixed;
            padding: 15px 20px;
            text-align: center;
            left: 60%;
            bottom: 50px;
            font-size: 15px;
            background-color: black;
            border: 1px solid black;
            border-radius: 40px;
            color: #faf5e6;
            box-shadow: 0 12px 20px rgb(27, 27, 27);
            z-index: 1;
            outline: 0;
        }
        @media screen and (max-width: 1200px){
            #wrapper{
                width: 80%;
            }
            button{
                left: 70%;
            }
        }
         @media screen and (max-width: 500px){
            body{
                font-size: 15px;
            }
            #siru{
                display: none;
            }
            #wrapper{
                width: 90%;
            }
            h2{
                padding-top: 100px;
            }
            button{
                left: 80%;
            }
            #uid{
                width: 80%;
            }
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./common.js"></script>
    <script>
        var flag = false;
        $(function(){
            $(":button").click(function(){
                if(flag==false){
                    $(":button").css("background-color","#fbbd0d");
                    $(":button").css("color","#2d2c2e");
                    $(":button").css("font-weight","bold");
                    //공감 수 하나씩 올리기
                    var newVal = String((parseInt($(":button").val())+1));
                    $(":button").val(newVal);
                    flag = true;
                }else{
                    $(":button").css("background-color","black");
                    $(":button").css("color","#faf5e6");
                    $(":button").css("font-weight","lighter");
                    //공감 한번 밖에 못올리게 설정
                }
            });
        });
    </script>
</head>
<body>
    <a href="/write" id="writeBtn">글쓰기</a>
    <input type ="button" value = "<%=story.hit%>"></button>
    <div id="nav">
        <a href="/index"><img id="logo" src="./image/logo_yellow.png"></a>
        <span id="nav_right">
            <a href="/board_poem" class="dynamic">작품</a>
            <a href="/board_story" class="dynamic">사는 이야기</a>

			<%if(sessionId == ""){
				loginStateMsg = "로그인";
			}else{
				loginStateMsg = "로그아웃";
			}%>
			<%if(sessionId == ""){%>
				<a href="/index#sign"><%=loginStateMsg%></a>
			<%}else{%>
				<a href="/index_loggout"><%=loginStateMsg%></a>
			<%}%>

        </span>
    </div>
    <h1 id="siru">시루</h1>
        <!-- (3일차) -->
        <!--  textarea </br>적용하기-->
        <div style="white-space: pre-line" id = "wrapper">
            <h2><%=story.title%></h2>
            <!-- (1122) -->
            <span id="uid"><%=story.writer%></span>
            <span id="uid"><%=story.hit%></span>
            <%=story.content%>
            
            <button name = "update" <%if(sessionId != story.writer){%>style="display:none"<%}%> onclick="location.href = '/updateForm_story?story_id=<%=story.story_id%>'">수정</button>
            <button name = "delete" <%if(sessionId != story.writer){%>style="display:none"<%}%> onclick="location.href = '/delete_story?story_id=<%=story.story_id%>'">삭제</button>
                <div id="comment" style = "margin: auto;">
                    <form action="/regist/comment" method="get">
                        <input type="hidden" name="story_id" value="<%=story.story_id%>"></input>
                        <table border="1px"  width = "70%">
                            
                            <%if(sessionId != ""){%>
                            <tr>
                                <td>id</td>
                                <td><input type="text" name="content"></input></td>
                                <td><input type="submit"></input></td>
                            </tr>
                            <%}%>
        
                            <%for(var i = 0; i < commentArray.length; i++){%>
                                <%var comment = commentArray[i]%>
                                <tr>
                                    <td><%=comment.writer%></td>
                                    <td><%=comment.content%></td>
                                    <td><%=comment.regdate%></td>
                                </tr>
                            <%}%>
                        </table>
                    </form>
                </div>
         </div>

</body>
</html>
